.Home_wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    cursor: pointer;

    .Home_ciderblocTextWrapper {
        width: 600px;
        height: 260px;
        display: grid;
        grid-template-rows: 50% 50%;

        .block_section {
            position: relative;
            display: flex;
            align-items: center;

            .block {
                background-color: transparent;
                position: absolute;
                left: 0;
                right: 0;
                color: transparent;
                animation: blockAnim 1.5s ease-in-out;
            }

            .text {
                font-size: 150px;
                font-weight: bold;
                animation: textAnim 1.5s ease-in-out;
                letter-spacing: 10px;
            }

            .line {
                background-color: #000;
                height: 6px;
                width: 140px;
                margin-left: 16px;
                animation: lineAnim 3.5s ease-in-out;
            }
        }
    }

    .hide {
        opacity: 0;
        transition: all 1s ease-in-out;
    }

    .hidden {
        opacity: 0 !important;
    }

    .Home_squares {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        animation: squaresAnim 3s ease-in-out 4.5s;
        opacity: var(--opacity);
        z-index: 3;
    }

    .Home_image {
        position: absolute;
        translate: -50% -50%;
        background-image: var(--imageUrl);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        object-fit: cover;
        scale: 0.5;
        z-index: 1;
        opacity: 0;
        transition: scale 0.6s ease-in-out, opacity 0.6s ease-in-out;
    }

    .portrait {
        width: 340px;
        height: 540px;
    }

    .landscape {
        width: 540px;
        height: 340px;
    }

    .showImage {
        transition: scale 0.6s ease-in-out;
        opacity: 1;
        z-index: 2;
        scale: 1.2;
    }
}

@keyframes blockAnim {
    0% {
        bottom: 0;
        height: 0;
        background-color: #000;
    }

    25% {
        bottom: 0;
        height: 100%;
        background-color: #000;
    }

    50% {
        bottom: 0;
        height: 100%;
        background-color: #000;
    }

    75% {
        bottom: 0;
        height: 100%;
        background-color: #000;
    }

    100% {
        top: 0;
        height: 0;
        background-color: #000;
    }
}

@keyframes textAnim {
    0% {
        color: transparent;
    }

    25% {
        color: transparent;
    }

    100% {
        color: #000;
    }
}

@keyframes lineAnim {
    0% {
        background-color: transparent;
        width: 0;
    }

    25% {
        background-color: transparent;
        width: 0;
    }

    50% {
        background-color: transparent;
        width: 0;
    }

    75% {
        background-color: #000;
        width: 0;
    }

    100% {
        background-color: #000;
        width: 140px;
    }
}

@keyframes squaresAnim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: var(--opacity);
    }
}
