.Home_wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    .Home_ciderblocTextWrapper {
        width: 600px;
        height: 260px;
        display: grid;
        grid-template-rows: 50% 50%;

        .block_section {
            position: relative;
            display: flex;
            align-items: center;

            .block {
                background-color: transparent;
                position: absolute;
                left: 0;
                right: 0;
                color: transparent;
                animation: blockAnim 1.5s ease-in-out;
            }

            .text {
                font-size: 150px;
                font-weight: bold;
                animation: textAnim 1.5s ease-in-out;
                letter-spacing: 10px;
            }

            .line {
                background-color: #000;
                height: 6px;
                width: 140px;
                margin-left: 16px;
                animation: lineAnim 3.5s ease-in-out;
            }
        }
    }
}

@keyframes blockAnim {
    0% {
        bottom: 0;
        height: 0;
        background-color: #000;
    }

    25% {
        bottom: 0;
        height: 100%;
        background-color: #000;
    }

    50% {
        bottom: 0;
        height: 100%;
        background-color: #000;
    }

    75% {
        bottom: 0;
        height: 100%;
        background-color: #000;
    }

    100% {
        top: 0;
        height: 0;
        background-color: #000;
    }
}

@keyframes textAnim {
    0% {
        color: transparent;
    }

    25% {
        color: transparent;
    }

    100% {
        color: #000;
    }
}

@keyframes lineAnim {
    0% {
        background-color: transparent;
        width: 0;
    }

    25% {
        background-color: transparent;
        width: 0;
    }

    50% {
        background-color: transparent;
        width: 0;
    }

    75% {
        background-color: #000;
        width: 0;
    }

    100% {
        background-color: #000;
        width: 140px;
    }
}
